
/***************************
BASELINE
***************************/
/*
*
*  Four-column grid active
*  ----------------------------------------
*  Margin   | #  1   2   3   4   |   Margin
*  5.55555% | %  25  50  75  100 | 5.55555%
*
*/


body {
	/* 16px / 24px */
	background-image: $bg_path;
	background-size: $bg_size;
	font-size: 1em;
	line-height: ($line / $font-size);
	color: $primary_text;
	font-family: "NeueHaasGroteskDisplayPro35ExtraLight", "Helvetica Neue", Helvetica, sans-serif;
	float:left;//Fix for GGS.js
	max-width: 100%;// Fix for Firefox at certain widths
}

header {
	margin: 0 $column;
}

h1, h2 {
	/* 26 / 36px */
	font-size: 26 / $font-size;
	line-height: ($line*1.5) / (26 * $font-size);
	background-repeat: no-repeat;
	display: block;
	text-indent : -9999em;
	overflow : hidden;
	font-weight: 100;
}

h1 {
	margin: (48/26*1em) 0 (26/26*1em);
	background-image: $logo_bg_path;
	background-size: $logo_bg_size;
	background-position: center center;
	height: 0;
	width: 100%;
	padding-bottom: 19.619%;
}

h2 {
	font-weight: normal;
	margin: (28/26*1em) auto (56/26*1em);
	background-image: $h2_bg_path;
	background-size: contain;
	background-position: center center;
	height: 0;
	padding-bottom: 10.02%;
	width: 68%;
	max-width: 22rem;
	left: 0.9%;
	position: relative;
}

h3 {
	/* 36px / 24px */
	color: $tertiary_text;
	font-size: 42 / $font-size;
	font-family: "OstrichSansMedium", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 100;
	line-height: ($line*2) / 42 * 1em;
	margin: (2.618/$font-size) 0  ($line) / 36 * $font-size;
	letter-spacing: .03em;
}


h4 {
	font-size: 1.25em;
	color: $title_color;
	font-weight: 100;
}


h5 {
	font-family: "OstrichSansMedium", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.18em;
	color: $tertiary_text;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: ($line*2) / 32 * 1em;
	font-weight: 100;
}

h6 {
	font-family: "OstrichSansMedium", "Helvetica Neue", Helvetica, sans-serif;
	display: inline;
	font-size: 1.1em;
	color: $primary_text;
	text-transform: uppercase;
	letter-spacing: 0.18em;
	font-weight: 100;
}

ul>li {
	list-style: none;
}

article>section>ul>li>p {
	color: $primary_text;
	letter-spacing: 0.0618em;
	word-spacing: 0.068em;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.8);
	font-weight: 100;
}


/***************************
EXPERIENCE
***************************/


.experience>ul>li {
	margin-bottom: ($line * 2) / 25 * 1em;
}

.experience>h3 {
	margin-bottom: ($line) / 46 * 1em;
}

.experience>ul>li>h4 {
	margin-bottom: ($line * .1) / 46 * 1em;
}

.experience>ul>li>aside {
	margin-top: ($line ) / 30 * 1em;
	line-height: ($line * 2) / 26 * 1em;
	font-size: .8125em;
	color: $tertiary_text;
	letter-spacing: 0.07em;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

.experience>ul>li>p {
	margin-top: ($line * .3) / 96 * 1em;
}

/***************************
SKILLS
***************************/

.skills>ul>li>h5>span {
	font-family: "OstrichSansBold", "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: 0.25em;
	font-size: .9em;
}

.skills>ul>li {
	float: left;
	width: 50%;
	margin-bottom: .97em;
}

.skills>ul>li>h4 {
	font-size: .8em;
	margin-bottom: 0;
}

.skills>ul>li>h5 {
	font-size: .8em;
	margin-bottom: 0;
	line-height: .67em;
	color: $quaternary_text;
}

.skills>figure {
	display: block;
	margin: 0 auto;
	width: 100%;
	float:left;
}

.skills>figure>img {
	padding: 2em 0;
	max-height: 100%;
	margin: 0 auto;
}

/***************************
ABOUT ME
***************************/

.about-me>h3>.char4 {
	letter-spacing: -0.02rem;
}

.about-me>figure {
	width: 50%;
	margin: 0 auto ($line * 1.5) / 25 * 1rem;
}

.about-me>p {
	margin-bottom:  ($line * 1.5) / 25 * 1rem;
}

/* Timeline */

.about-me>.timeline {
	background-image: $timeline_bg_path;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	box-shadow: none;
	width: 17.33rem;
	margin: 6rem auto;
	font-size: 0.86rem; // These two lines
	line-height: 1.33rem; // Zoom out the timeline to fit on a 320px viewport
	letter-spacing: 0.0099rem;// Webkit rounds letter spacing to full pixels, but Gecko and Presto will both break the layout if this is not spaced to a perfect ratio.
}

.timeline>ul>li {
	display: block;
	position: relative;
	margin: 2rem auto;
}

.timeline>ul>li:nth-child(odd) {
	text-align: right;
}

.timeline>ul>li:nth-child(odd)>figcaption:before {
	content: attr(data-year);
}

.timeline>ul>li:nth-child(even)>figcaption:after {
	content: attr(data-year);
}

.timeline>ul>li>figcaption>img {
	display: block;
	max-width: 3.3rem;
	max-height: 2.8rem;
}

.timeline>ul>li:nth-child(odd)>figcaption>img {
	position: absolute;
	max-width: 100%;
}

.timeline>ul>li:nth-child(2) {// Discovered Computer
	margin-left: .61rem;
	margin-top: 0;
}

.timeline>ul>li:nth-child(2)>figcaption>img {// Discovered Computer IMG
	margin-left: 1.1rem;
}

.timeline>ul>li:nth-child(3) {// Discovered Caffeine
	margin-right: 1.13rem;
	margin-top: 0;
	margin-bottom: 0;
	text-align: right;
}

.timeline>ul>li:nth-child(3)>figcaption>img {// Discovered Caffeine IMG
	bottom: 1.7rem;
	left: 12.5rem;
}

.timeline>ul>li:nth-child(4) {// Co-Hosted A Tech News Podcast
	width: 6.4rem;
	margin-left: 2.15rem;
	margin-top: 0rem;
	margin-bottom: 0rem;
}

.timeline>ul>li:nth-child(4)>figcaption>img {// Co-Hosted A Tech News Podcast IMG
	position: relative;
	left: .5rem;
	max-height: 2.3rem;
}

.timeline>ul>li:nth-child(4)>figcaption:after {// Co-Hosted A Tech News Podcast YEAR
	position:absolute;
	left: 6.1rem;
	top: 2.2rem;
}

.timeline>ul>li:nth-child(5) {// Co-Founded Webologist Design
	width: 8rem;
	margin-bottom: 0;
	margin-right: 1.66rem;
	margin-top: 0em;
}

.timeline>ul>li:nth-child(5)>figcaption>img {// Co-Founded Webologist Design IMG
	max-width: 3.5rem;
	right: 0rem;
	bottom: 3rem;
}

.timeline>ul>li:nth-child(5)>figcaption:before {// Co-Founded Webologist Design YEAR
	position:absolute;
	right: 6.55rem;
	bottom: 0rem;
}

.timeline>ul>li:nth-child(6) {// Rebranded As Ipsum Creative
	width: 6.8rem;
	margin-bottom: 0;
	margin-left: 2.82rem;
	margin-top: 0.8rem;
}

.timeline>ul>li:nth-child(6)>figcaption>img {// Rebranded As Ipsum Creative IMG
	position: relative;
	left: 0rem;
	max-height: 2.5rem;
}

.timeline>ul>li:nth-child(6)>figcaption:after {// Rebranded As Ipsum Creative YEAR
	position:absolute;
	left: 5.431rem;
	top: 2.2rem;
}

.timeline>ul>li:nth-child(7) {// Moved to Albuquerque, NM
	width: 7.7rem;
	margin-bottom: 0;
	margin-right: 1.97rem;
	margin-top: 0rem;
}

.timeline>ul>li:nth-child(7)>figcaption>img {// Moved to Albuquerque, NM IMG
	max-width: 4rem;
	right: 0rem;
	bottom: 3rem;
}

.timeline>ul>li:nth-child(7)>figcaption:before {// Moved to Albuquerque, NM YEAR
	position:absolute;
	right: 6.23rem;
	top: 1.33rem;
}

.timeline>ul>li:nth-child(8) {// Web UI Expert at Zocalo Consulting
	width: 8rem;
	margin-bottom: 2rem;
	margin-left: 2rem;
	margin-top: 0rem;
}

.timeline>ul>li:nth-child(8)>figcaption>img {// Web UI Expert at Zocalo Consulting IMG
	position: relative;
	left: 0rem;
	bottom: 0.5rem;
	max-height: 2.5rem;
}

.timeline>ul>li:nth-child(8)>figcaption:after {// Web UI Expert at Zocalo Consulting YEAR
	position:absolute;
	left: 6.25rem;
	top: 3.05rem;
	white-space: nowrap;
}

.timeline>ul>li:nth-child(9) {// Front-End Developer at SantaFe.com
	width: 6.4rem;
	margin-bottom: 0;
	margin-right: 2rem;
	margin-top: 1.3rem;
}

.timeline>ul>li:nth-child(9)>figcaption>img {// Front-End Developer at SantaFe.com IMG
	max-width: 3.5rem;
	right: 0rem;
	bottom: 3rem;
}

.timeline>ul>li:nth-child(9)>figcaption:before {// Front-End Developer at SantaFe.com YEAR
	position:absolute;
	right: 6.2rem;
	bottom: 1.38rem;
	white-space: nowrap;
}

.timeline>ul>li:nth-child(10) {// Web Designer/Developer at Grace Communications
	width: 7.6rem;
	margin-bottom: 0;
	margin-left: 1.15rem;
	margin-top: -1rem;
}

.timeline>ul>li:nth-child(10)>figcaption>img {// Web Designer/Developer at Grace Communications IMG
	position: relative;
	left: 0rem;
	max-height: 2.2rem;
}

.timeline>ul>li:nth-child(10)>figcaption:after {// Web Designer/Developer at Grace Communications YEAR
	position:absolute;
	left: 7.1rem;
	top: 2.15rem;
	white-space: nowrap;
}

.timeline>ul>li:nth-child(11) {// Front-End Dev. & UX Lead at WHOOP
  width: 7.6rem;
  margin-right: 0.4855rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5em;
}

.timeline>ul>li:nth-child(11)>figcaption>img { // Front-End Dev. & UX Lead at WHOOP IMG
	position: absolute;
	right: 84%;
	top: 100%;
}

.timeline>ul>li:nth-child(11)>figcaption:before {// Front-End Dev & UX Lead at WHOOP YEAR
	position:absolute;
  right: 7.699rem;
  top: 1.288rem;
	white-space: nowrap;
}

.timeline>ul>li:first-child {
	text-align: right;
	width: 4.6rem;
	max-width: 4.6rem;
	margin: 0 auto 0 6.41rem;
}

.timeline>ul>li:first-child>figcaption>img {
	position: absolute;
	bottom: 1.25rem;
	max-width: 100%;
}

.timeline>ul>li:first-child>figcaption:before {
	content: attr(data-year);
	display:block;
	position: absolute;
	left: 0.1446rem;
}

/***************************
EDUCATIONAL BACKGROUND
***************************/

.educational-background>ul>li {
	margin-top: ($line) / 30 * 1em;
	line-height: ($line * 2) / 26 * 1em;
	font-size: .8125em;
	color: $secondary_text;
	letter-spacing: 0.07em;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

.educational-background h5 {
	display: inline;
}

/***************************
FOOTER
***************************/

footer {
	padding: 0 ($line)/$font-size;
	border-top: 1px solid rgba(255,255,255,0.2);
}

footer>ul {
	padding: 1.5em 0;
	float: left;
	clear: none;
	width: 100%;
}

footer a {
	text-decoration: none;
	color: $primary_text;
}

footer a:hover {
	text-decoration: underline;
	color: $primary_text;
}

footer h5 {
	display: inline;
	padding-right: .618em;
}

footer ul li:nth-of-type(n+3) {
	float: left;
	clear: none;
	width: 25%;
	height: 4.4em;
	padding: 0;
	margin: 1em 0em;
	text-align: center;
	-webkit-font-smoothing: antialiased; // Don't EVER do this on text that is meant to be read. It's bad for accessability.
}

footer ul li:nth-of-type(n+3) a:hover {
	color: white;
}

footer ul li:nth-of-type(n+3) a {
	float: left;
	clear: none;
	width: 100%;
	height: 100%;
	display: block;
	padding: 2em .7em .8em;
	box-sizing: border-box;
}

footer ul li [data-icon] {
	font-size: 3.333em;
	width: 100%;
	height: 100%;
	float: left;
	clear: none;
}


/***************************
KERNING.JS
***************************/

.experience>h3>.char5 {
	letter-spacing: -0.01em;
}

.experience>h3>.char7, .about-me>h3>.char2 {
	letter-spacing: 0.05em;
}

.educational-background>h3>.char5 {
	letter-spacing: -0.09em;
}

.educational-background>h3>.char1, .educational-background>h3>.char6, .educational-background>h3>.char7 {
	letter-spacing: 0.05em;
}

/***************************
BASIC LAYOUT
***************************/


article>section {
	margin-bottom:  ($line*2) / 38 * 1em;
}

/*
*  Simple elastic gutters
*  Note: box-sizing will not work in IE6-7
*/

.wrapper, article, article section {
	padding: 0 ($line/2)/$font-size;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}


/*
*
*  Fixes for IE6-8
*  http://jonikorpi.com/leaving-old-IE-behind/
*
*/

.ie body {
	width: 640/$font-size;
	margin: 0 auto;
	font-size: ($font-size + 1) / $font-size;
}

.ie h1 {
	margin: (48/42*1em) 0 (24/42*1em);
}

/* $media screen and (min-width: 480px) */
@media screen and (min-width: 30em) {

	article, footer {
		margin: 0 12%;
	}

	footer {
		width: 76%;
	}

	h1 {
		margin: (48/26*1em) 0 (24/42*1em);
	}

	h2 {
		max-width: 18rem;
	}

	article > section {
		width: 100%;
		margin-bottom: 6.263158em;
	}


	article > section:first-child {
		margin-top: 4em;
	}


	article > section:last-child {
		margin-bottom: 3.263158em;
	}

	.skills>figure {
		max-width: 30rem;
		float: left;
	}

	.skills>ul>li>h4 {
		font-size: 1em;
		margin-bottom: 0;
	}

	.skills>ul>li>h5 {
		font-size: 1em;
		margin-bottom: 0;
		line-height: 1em;
	}

}


/***************************
$2X STYLES
***************************/


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

	body {
		background-size: $bg_size_2x;
	}

	.about-me>.timeline {
		letter-spacing: 0.003rem;// Hi-DPI displays tend to ignore subpixel
		// rendering and shape hinting, so the spacing needs to be adjusted to fit the layout.
	}



}
