
/***************************
VARIABLES
***************************/

//
// Important numbers
//

$line      : 22;
$column    : (100% / 18);
$font-size : 16;
$em        : 1em;

// Image paths, etc.

$bg_path    : url("../images/background.png");
$bg_size    : 476px 476px;
$bg_size_2x : 238px 238px;

$logo_bg_path : url("../images/logo.png");
$logo_bg_size : contain;

$h2_bg_path : url("../images/designer_developer.png");

$timeline_bg_path : url("../images/timeline_bg.png");

// Colors

$title_color     : rgb(215,215,215);
$primary_text    : rgb(163,163,163);
$secondary_text  : rgb(190,190,190);
$tertiary_text   : rgb(128,128,128);
$quaternary_text : rgb(140,140,140);
