/***************************
STYLE
***************************/

@import "variables"; // LESS Variables
@import "boilerplate"; // Consistency Fixes, etc.
@import "baseline"; // Baseline Type & Layout Settings
@import "fonts"; // Fonts




/*
*
*  Eight-column grid active
*  ----------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
*  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
*
*
*/

/* @media screen and (min-width: 755px) */
@media screen and (min-width: 47.187em) {

	body {
		/* Reset baseline grid to 16/16 = 1 */
		font-size: ($font-size / $font-size);
	}

	article, footer {
		margin: 0 5.555555%;
		padding: 0;
	}

	footer {
		width: 89%;
		float: left;
		clear: both;
	}

	article > section {
		position: relative;
		margin-bottom: 2.263158em;
		float: left;
		clear: none;
		padding: 0;
	}

	article>section:first-child {
		margin-top: 0;
	}

	.experience, .skills, .about-me>h3, .about-me>p, .about-me>figure, .educational-background {
		width: 48%;
		clear: none;
		float: left;
	}

	.educational-background {
		width: 100%;
	}

	.about-me>h3, .about-me>p, .about-me>figure {
		clear: left;
	}

	.skills  {
		float: right;
	}

	.skills>h3, .educational-background>h3 {
		text-align: right;
	}

	.skills>figure {
		float: right;
	}

	.skills>figure>img {
		padding: 3em 0;
	}

	.skills>ul>li {
		text-align: right;
		padding-right: 1.3rem;
	}

	.skills>ul>li:nth-child(even) {
		float: right;
		padding-right: 0rem;
	}

	.about-me>figure:first-of-type {
		width: 40%;
		margin: 0 0 2em 3%;
	}

	.about-me>p:nth-of-type(2) {
		padding-right: 0;
	}

	.about-me>p:last-of-type {
		float: right;
		clear:none;
	}

	.about-me>.timeline {
		float: right;
		clear: right;
		position: absolute;
		margin: 0;
		top: -9rem;
		right: 5.888%;
	}

	.educational-background>p:first-of-type {
		padding-left: 28%;
		text-align: right;
	}

	.educational-background>ul {
		width: 100%;
		float: left;
		clear: none;
	}

	.educational-background>ul>li {
		width: 50%;
		float: left;
		clear: left;
		text-align: right;
		padding: .75rem 2rem .75rem 0rem;
	}


	.educational-background>ul>li:nth-child(even) {
		float: right;
		clear: none;
		padding: .75rem 0rem .75rem 2rem;
	}

	footer ul li:nth-of-type(-n+2) {
		float: left;
		clear: none;
		width: 28%;
		margin: 1em 0;
	}

	footer ul li:first-of-type {
		width: 33%;
	}

	footer ul li:nth-of-type(n+3) {
		float: right;
		clear: none;
		width: 8%;
		height: 3.333em;
		padding: 0;
		margin: 0em;
		text-align: right;
	}

	footer ul li:nth-of-type(n+3) a {
		padding: 1em 0;
	}

	footer ul li [data-icon] {
		font-size: 2.5em;
	}

}


/* @media screen and (min-width: 815px) */
@media screen and (min-width: 50.93em) {

	.about-me>.timeline {
		top: -8rem;
	}

}


/* @media screen and (min-width: 845px) */
@media screen and (min-width: 52.81em) {

	.about-me>.timeline {
		top: -6rem;
	}

}

/* @media screen and (min-width: 864px) */
@media screen and (min-width: 54em) {

	.about-me>.timeline {
		top: -5rem;
	}

	.skills>figure {
		max-width: 26rem;
	}

	// .about-me>figure:first-of-type {
	// 	width: 25%;
	// 	margin: 0 0 2em 10%;
	// }

}


/* @media screen and (min-width: 896px) */
@media screen and (min-width: 56em) {

	.about-me {
		margin-bottom: 3em;
	}

	.about-me>.timeline {
		top: 4.5rem;
		right: 7%;
	}

	.about-me>p:last-of-type {
		float: left;
		clear: left;
	}

	.skills > figure > img {
		padding: 6rem 1em 0rem 0rem;
	}

	.about-me>figure:first-of-type {
		width: 25%;
		margin: 0 0 2em 10%;
	}

	.educational-background>p:first-of-type {
		padding-left: 40%;
	}

}

/* @media screen and (min-width: 912px) */
@media screen and (min-width: 57em) {

	// .about-me>.timeline {
	// 	top: -4rem;
	// }

	// .skills > figure > img {
	// 	padding: 3em;
	// }

	.about-me>figure:first-of-type {
		width: 25%;
		margin: 0 0 2em 10%;
	}

}

/* @media screen and (min-width: 1080px) */
@media screen and (min-width: 67.5em) {

	article>section:last-child {
		width: 75%;
		float: right;
	}

	footer ul li:first-of-type {
		width: 25%;
	}


}

/* @media screen and (min-width: 1088px) */
@media screen and (min-width: 68em) {

	:root {
		/* Zoom baseline grid to 17/16 = 1.0625 */
		font-size: ($font-size + 1) / $font-size;
	}

	body {
		line-height: 1.2em;
	}

	h3 {
		font-size: (2.625em * 1.35);
		color: $quaternary_text;
	}

	article>section>ul>li>p, .about-me>p, .educational-background>p {
		letter-spacing: 0.01em;
	}

	.experience, .skills {
		width: 33%;
	}

	.about-me>h3, .educational-background>h3 {
		font-size: 2.5rem;
	}

	.about-me > h3, .about-me > p, .about-me > figure,
	.educational-background {
		width: 100%;
	}

	.skills>ul>li {
		margin-bottom: 1.8em;
		font-size: .9rem;
	}

	.skills > figure > img {
		padding: 1.1rem 1em 0rem 0rem;
	}

	.about-me {
		position: static;
		width: 50%;
		clear: left;
	}

	.about-me > figure:first-of-type {
		width: 35%;
		float: left;
		margin: 0 1.5rem 1rem 0;
	}

	.about-me > p, .about-me > p:last-of-type {
		float: none;
		clear: none;
	}

	.about-me>.timeline {
		top: 30rem;
		right: 0;
		left: 0;
		margin: 0 auto;
	}

	.timeline > ul > li:nth-child(2) {
		margin-bottom: 4.5rem;
		margin-left: .6rem;
	}

	.timeline > ul > li:nth-child(3) {
		margin-right: 1.27rem;
		margin-bottom: 2rem;
	}

	.timeline > ul > li:nth-child(5) {
		margin-top: -1rem;
		margin-bottom: 1rem;
	}

	.timeline > ul > li:nth-child(6) {
		margin-bottom: 2.8rem;
	}

	.timeline > ul > li:nth-child(7) {
		margin-bottom: 1.5rem;
	}

	.timeline > ul > li:nth-child(8) {
		margin-bottom: 4rem;
	}

	.timeline > ul > li:nth-child(9) {
		margin-right: 2.025rem;
	}

	.timeline > ul > li:nth-child(10) {
		margin-top: 0;
		margin-bottom: 4rem;
	}

	.timeline > ul > li:nth-child(11) {
		margin-left: 4.5rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		width: 14rem;
		font-size: 1rem;
	}

	.timeline > ul > li:nth-child(11) > figcaption > img {
		position: absolute;
		right: 48.8%;
		top: 180%;
		max-height: 5rem;
	}

	.timeline > ul > li:first-child {
		margin: 0 auto 0rem 5.7rem;
		padding-right: 0.4rem;
		width: 6rem;
		max-width: 6rem;
		font-size: 1rem;
	}

	.timeline > ul > li:first-child > figcaption > img {
		position: absolute;
		bottom: 1.25rem;
		max-width: 100%;
	}

	.timeline > ul > li:first-child > figcaption:before {
		left: 0.4446rem;
	}

	article > section:last-child {
		width: 50%;
		clear: right;
		padding-left: 3rem;
	}

	.educational-background > p:first-of-type {
		padding-left: 0%;
	}

	.educational-background > ul > li {
		padding: 0.76rem 6% 0rem 0rem;
		line-height: 1.5em;
	}

	.educational-background > ul > li:nth-child(even) {
		padding: .76rem 0rem 0rem 0.5rem;
	}

}

/* @media screen and (min-width: 1200px) */
@media screen and (min-width: 75em) {

	.skills>ul>li {
		margin-bottom: 1.8em;
		font-size: 1rem;
	}

	.skills>figure {
		max-width: 20rem;
	}

	.skills>figure>img {
		padding-top: 1.9rem;
	}

	.about-me>figure:first-of-type {
		width: 24%;
		margin-bottom: .5rem;
	}

}


/* @media screen and (min-width: 1350px) */
@media screen and (min-width: 78em) {

	.about-me>.timeline {
		top: 33rem;
	}

	.about-me, .educational-background {
		width: 46%;
	}

}



/*
*
*  Sixteen-column grid active
*  ----------------------------------------------------------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8     9     10    11    12    13    14    15    16  |   Margin
*  5.55555% | %  6.25  12.5  18.75 25.0  31.25 37.5  43.75 50.0  56.25 62.5  68.75 75.0  81.25 87.5  93.75 100 | 5.55555%
*
*
*/



/* @media screen and (min-width: 1440px) */
@media screen and (min-width: 90em) {

	header, article, footer {
		margin: 0 11.8%;
	}

	header {
		margin-top: 6%;
	}

	footer {
		width: 76.4%;
	}

	.about-me>.timeline {
		top: 36rem;
	}

}

/* @media screen and (min-width: 1550px) */
@media screen and (min-width: 96.87em) {

	header, article, footer {
		margin: 0 17.25%;
	}

	header {
		margin-top: 8%;
	}

	footer {
		width: 65.4%;
	}

	.skills > figure {
	max-width: 19rem;
	}

	.about-me>.timeline {
		top: 36rem;
	}

}

/* @media screen and (min-width: 1730px) */
@media screen and (min-width: 108em) {

	body {
	//	max-width: 115em;
		position: relative;
		margin: 0 auto;
		float: none;
	}

	.about-me>.timeline {
		top: 30rem;
	}

}

/* @media screen and (min-width: 1950px) */
@media screen and (min-width: 121.8em) {

	body {
		max-width: (2000/$font-size);
	}

	.about-me {
		margin-top: 1em;// Corrects vertical layout when Experience section becomes wider & shorter
		width: 40%;
	}

	.about-me>.timeline {
		top: 32rem;
	}

	.educational-background {
		width: 45%;
	}

}

/* @media screen and (min-width: 2080px) */
@media screen and (min-width: 130em) {

}
