/***************************
STYLE
***************************/
/***************************
VARIABLES
***************************/
/***************************
FONT-FACE
***************************/
/*
*
*  Margin, padding, and border resets
*  except for form elements
*
*/
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/*
*
*  Consistency fixes
*  adopted from http://necolas.github.com/normalize.css/
*
*/
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  min-height: 100%;
  font-size: 100%; }

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, audio, canvas, video {
  display: block; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

b, strong {
  font-weight: bold; }

abbr[title] {
  border-bottom: 1px dotted; }

input, textarea, button, select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

textarea {
  overflow: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
*
*  Simple fluid media
*
*/
figure {
  position: relative; }

figure img, figure object, figure embed, figure video {
  max-width: 100%;
  display: block; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
figure,
figcaption,
article,
aside,
section,
nav,
header,
footer {
  -moz-font-feature-settings: "liga=1",  "dlig=1"   "clig=1",  "salt=1",  "kern=1";
  -moz-font-feature-settings: "liga" on, "dlig" on, "clig" on, "salt" on, "kern" on;
  -ms-font-feature-settings: "liga" on, "dlig" on, "clig" on, "salt" on, "kern" on;
  -o-font-feature-settings: "liga" on, "dlig" on, "clig" on, "salt" on, "kern" on;
  -webkit-font-feature-settings: "liga" on, "dlig" on, "clig" on, "salt" on, "kern" on;
  font-feature-settings: "liga" on, "dlig" on, "clig" on, "salt" on, "kern" on; }

/*
*
*  Screen reader text (hides from view)
*
*/
.screen-reader-text {
  /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px; }

/*
*
*  Relatively straightforward data attribute icon font method.
*  http://css-tricks.com/examples/IconFont/
*/
[data-icon]:before {
  font-family: "SocialFoundicons";
  content: attr(data-icon);
  speak: none;
  /* Not to be trusted, but hey. */ }

/***************************
BASELINE
***************************/
/*
*
*  Four-column grid active
*  ----------------------------------------
*  Margin   | #  1   2   3   4   |   Margin
*  5.55555% | %  25  50  75  100 | 5.55555%
*
*/
body {
  /* 16px / 24px */
  background-image: url("../images/background.png");
  background-size: 476px 476px;
  font-size: 1em;
  line-height: 1.375em;
  color: #a3a3a3;
  font-family: "NeueHaasGroteskDisplayPro35ExtraLight", "Helvetica Neue", Helvetica, sans-serif;
  float: left;
  max-width: 100%;
  -webkit-font-smoothing: antialiased; }

header {
  margin: 0 5.55556%; }

h1, h2 {
  /* 26 / 36px */
  font-size: 1.625em;
  line-height: 0.07933em;
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999em;
  overflow: hidden;
  font-weight: 100; }

h1 {
  margin: 1.84615em 0 1em;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-position: center center;
  height: 0;
  width: 100%;
  padding-bottom: 19.619%; }

h2 {
  font-weight: normal;
  margin: 1.07692em auto 2.15385em;
  background-image: url("../images/designer_developer.png");
  background-size: contain;
  background-position: center center;
  height: 0;
  padding-bottom: 10.02%;
  width: 68%;
  max-width: 22rem;
  left: 0.9%;
  position: relative; }

h3 {
  /* 36px / 24px */
  color: gray;
  font-size: 2.625em;
  font-family: "OstrichSansMedium", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  line-height: 1.04762em;
  margin: 0.16363em 0 0.03819em;
  letter-spacing: .03em; }

h4 {
  font-size: 1.25em;
  color: #d7d7d7;
  font-weight: 100; }

h5 {
  font-family: "NeueHaasGroteskTextPro55Roman", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.88em;
  color: gray;
  line-height: 1.57143em;
  font-weight: 100; }

h6 {
  font-family: "OstrichSansMedium", "Helvetica Neue", Helvetica, sans-serif;
  display: inline;
  font-size: 1.1em;
  color: #a3a3a3;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  font-weight: 100; }

ul > li {
  list-style: none; }

article > section > ul > li > p {
  color: #a3a3a3;
  font-family: "NeueHaasGroteskTextPro55Roman", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.8125em;
  line-height: 1.29497em;
  letter-spacing: 0.00618em;
  word-spacing: 0.068em;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  font-weight: 100; }

/***************************
EXPERIENCE
***************************/
.experience > ul > li {
  margin-bottom: 1.76em; }

.experience > h3 {
  margin-bottom: 0.32371em; }

.experience > ul > li > h4 {
  margin-bottom: 0.06798em; }

.experience > ul > li > aside {
  margin-top: 0.73333em;
  line-height: 1.69231em;
  font-size: .8125em;
  color: gray;
  letter-spacing: 0.07em;
  text-shadow: 0px 1px 1px black; }

.experience > ul > li > p {
  margin-top: 0.06875em; }

/***************************
SKILLS
***************************/
.skills > ul > li > h5 > span {
  font-family: "NeueHaasGroteskTextPro75Bold", "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.25em;
  vertical-align: text-bottom; }

.skills > ul > li {
  float: left;
  width: 50%;
  margin-bottom: .97em; }

.skills > ul > li > h4 {
  font-size: .8em;
  margin-bottom: 0; }

.skills > ul > li > h5 {
  font-size: 0.6875em;
  margin-bottom: 0;
  line-height: 1.29497em;
  color: #666666;
  text-transform: uppercase; }

.skills > figure {
  display: block;
  margin: 0 auto;
  width: 100%;
  float: left; }

.skills > figure > img {
  padding: 2em 0;
  max-height: 100%;
  margin: 0 auto; }

/***************************
ABOUT ME
***************************/
.about-me > h3 > .char4 {
  letter-spacing: -0.02rem; }

.about-me > figure {
  width: 50%;
  margin: 0 auto 1.32rem; }

.about-me > p {
  margin-bottom: 1.32rem; }

/* Timeline */
.about-me > .timeline {
  background-image: url("../images/timeline_bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  box-shadow: none;
  width: 17.33rem;
  margin: 6rem auto;
  font-size: 0.86rem;
  line-height: 1.33rem;
  letter-spacing: 0.0099rem; }

.timeline > ul > li {
  display: block;
  position: relative;
  margin: 2rem auto; }

.timeline > ul > li:nth-child(odd) {
  text-align: right; }

.timeline > ul > li:nth-child(odd) > figcaption:before {
  content: attr(data-year); }

.timeline > ul > li:nth-child(even) > figcaption:after {
  content: attr(data-year); }

.timeline > ul > li > figcaption > img {
  display: block;
  max-width: 3.3rem;
  max-height: 2.8rem; }

.timeline > ul > li:nth-child(odd) > figcaption > img {
  position: absolute;
  max-width: 100%; }

.timeline > ul > li:nth-child(2) {
  margin-left: .61rem;
  margin-top: 0; }

.timeline > ul > li:nth-child(2) > figcaption > img {
  margin-left: 1.1rem; }

.timeline > ul > li:nth-child(3) {
  margin-right: 1.13rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: right; }

.timeline > ul > li:nth-child(3) > figcaption > img {
  bottom: 1.7rem;
  left: 12.5rem; }

.timeline > ul > li:nth-child(4) {
  width: 6.4rem;
  margin-left: 2.15rem;
  margin-top: 0rem;
  margin-bottom: 0rem; }

.timeline > ul > li:nth-child(4) > figcaption > img {
  position: relative;
  left: .5rem;
  max-height: 2.3rem; }

.timeline > ul > li:nth-child(4) > figcaption:after {
  position: absolute;
  left: 6.1rem;
  top: 2.2rem; }

.timeline > ul > li:nth-child(5) {
  width: 8rem;
  margin-bottom: 0;
  margin-right: 1.66rem;
  margin-top: 0em; }

.timeline > ul > li:nth-child(5) > figcaption > img {
  max-width: 3.5rem;
  right: 0rem;
  bottom: 3rem; }

.timeline > ul > li:nth-child(5) > figcaption:before {
  position: absolute;
  right: 6.55rem;
  bottom: 0rem; }

.timeline > ul > li:nth-child(6) {
  width: 6.8rem;
  margin-bottom: 0;
  margin-left: 2.82rem;
  margin-top: 0.8rem; }

.timeline > ul > li:nth-child(6) > figcaption > img {
  position: relative;
  left: 0rem;
  max-height: 2.5rem; }

.timeline > ul > li:nth-child(6) > figcaption:after {
  position: absolute;
  left: 5.431rem;
  top: 2.2rem; }

.timeline > ul > li:nth-child(7) {
  width: 7.7rem;
  margin-bottom: 0;
  margin-right: 1.97rem;
  margin-top: 0rem; }

.timeline > ul > li:nth-child(7) > figcaption > img {
  max-width: 4rem;
  right: 0rem;
  bottom: 3rem; }

.timeline > ul > li:nth-child(7) > figcaption:before {
  position: absolute;
  right: 6.23rem;
  top: 1.33rem; }

.timeline > ul > li:nth-child(8) {
  width: 8rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-top: 0rem; }

.timeline > ul > li:nth-child(8) > figcaption > img {
  position: relative;
  left: 0rem;
  bottom: 0.5rem;
  max-height: 2.5rem; }

.timeline > ul > li:nth-child(8) > figcaption:after {
  position: absolute;
  left: 6.25rem;
  top: 3.05rem;
  white-space: nowrap; }

.timeline > ul > li:nth-child(9) {
  width: 6.4rem;
  margin-bottom: 0;
  margin-right: 2rem;
  margin-top: 1.3rem; }

.timeline > ul > li:nth-child(9) > figcaption > img {
  max-width: 3.5rem;
  right: 0rem;
  bottom: 3rem; }

.timeline > ul > li:nth-child(9) > figcaption:before {
  position: absolute;
  right: 6.2rem;
  bottom: 1.38rem;
  white-space: nowrap; }

.timeline > ul > li:nth-child(10) {
  width: 7.6rem;
  margin-bottom: 0;
  margin-left: 1.15rem;
  margin-top: -1rem; }

.timeline > ul > li:nth-child(10) > figcaption > img {
  position: relative;
  left: 0rem;
  max-height: 2.2rem; }

.timeline > ul > li:nth-child(10) > figcaption:after {
  position: absolute;
  left: 7.1rem;
  top: 2.15rem;
  white-space: nowrap; }

.timeline > ul > li:nth-child(11) {
  width: 7.6rem;
  margin-right: 0.4855rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5em; }

.timeline > ul > li:nth-child(11) > figcaption > img {
  position: absolute;
  right: 84%;
  top: 100%; }

.timeline > ul > li:nth-child(11) > figcaption:before {
  position: absolute;
  right: 7.699rem;
  top: 1.288rem;
  white-space: nowrap; }

.timeline > ul > li:first-child {
  text-align: right;
  width: 4.6rem;
  max-width: 4.6rem;
  margin: 0 auto 0 6.41rem; }

.timeline > ul > li:first-child > figcaption > img {
  position: absolute;
  bottom: 1.25rem;
  max-width: 100%; }

.timeline > ul > li:first-child > figcaption:before {
  content: attr(data-year);
  display: block;
  position: absolute;
  left: 0.1446rem; }

/***************************
EDUCATIONAL BACKGROUND
***************************/
.educational-background > ul > li {
  margin-top: 0.73333em;
  line-height: 1.69231em;
  font-size: .8125em;
  color: #bebebe;
  letter-spacing: 0.07em;
  text-shadow: 0px 1px 1px black; }

.educational-background h5 {
  display: inline; }

/***************************
FOOTER
***************************/
footer {
  padding: 0 1.375em;
  border-top: 1px solid rgba(255, 255, 255, 0.2); }

footer > ul {
  padding: 1.5em 0;
  float: left;
  clear: none;
  width: 100%; }

footer a {
  text-decoration: none;
  color: #a3a3a3; }

footer a:hover {
  text-decoration: underline;
  color: #a3a3a3; }

footer h5 {
  display: inline;
  padding-right: .618em; }

footer ul li:nth-of-type(n+3) {
  float: left;
  clear: none;
  width: 25%;
  height: 4.4em;
  padding: 0;
  margin: 1em 0em;
  text-align: center;
  -webkit-font-smoothing: antialiased; }

footer ul li:nth-of-type(n+3) a:hover {
  color: white; }

footer ul li:nth-of-type(n+3) a {
  float: left;
  clear: none;
  width: 100%;
  height: 100%;
  display: block;
  padding: 2em .7em .8em;
  box-sizing: border-box; }

footer ul li [data-icon] {
  font-size: 3.333em;
  width: 100%;
  height: 100%;
  float: left;
  clear: none; }

/***************************
KERNING.JS
***************************/
/***************************
BASIC LAYOUT
***************************/
article > section {
  margin-bottom: 1.15789em; }

/*
*  Simple elastic gutters
*/
.wrapper, article {
  padding: 0 5.55556%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
*
*  Fixes for IE6-8
*  http://jonikorpi.com/leaving-old-IE-behind/
*
*/
.ie body {
  width: 40em;
  margin: 0 auto;
  font-size: 1.0625em; }

.ie h1 {
  margin: 1.14286em 0 0.57143em; }

/* $media screen and (min-width: 480px) */
@media screen and (min-width: 30em) {
  article, footer {
    margin: 0 12%; }

  footer {
    width: 76%; }

  h1 {
    margin: 1.84615em 0 0.57143em; }

  h2 {
    max-width: 18rem; }

  article > section {
    width: 100%;
    margin-bottom: 6.263158em; }

  article > section:first-child {
    margin-top: 4em; }

  article > section:last-child {
    margin-bottom: 3.263158em; }

  .skills > figure {
    max-width: 30rem;
    float: left; }

  .skills > ul > li > h4 {
    font-size: 1em;
    margin-bottom: 0; }

  .skills > ul > li > h5 {
    font-size: 1em;
    margin-bottom: 0;
    line-height: 1em; } }
/***************************
@2X STYLES
***************************/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body {
    background-size: 238px 238px; }

  .about-me > .timeline {
    letter-spacing: 0.003rem; } }
/***************************
FONTS
***************************/
/* Ostrich Sans */
@font-face {
  font-family: "OstrichSansBold";
  src: url("../fonts/ostrich-bold-webfont.eot");
  src: url("../fonts/ostrich-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrich-bold-webfont.woff") format("woff"), url("../fonts/ostrich-bold-webfont.ttf") format("truetype"), url("../fonts/ostrich-bold-webfont.svg#OstrichSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "OstrichSansBlack";
  src: url("../fonts/ostrich-black-webfont.eot");
  src: url("../fonts/ostrich-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrich-black-webfont.woff") format("woff"), url("../fonts/ostrich-black-webfont.ttf") format("truetype"), url("../fonts/ostrich-black-webfont.svg#OstrichSansBlack") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "OstrichSansMedium";
  src: url("../fonts/ostrich-regular-webfont.eot");
  src: url("../fonts/ostrich-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrich-regular-webfont.woff") format("woff"), url("../fonts/ostrich-regular-webfont.ttf") format("truetype"), url("../fonts/ostrich-regular-webfont.svg#OstrichSansMedium") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "OstrichSansCondensedLight";
  src: url("../fonts/ostrich-light-webfont.eot");
  src: url("../fonts/ostrich-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrich-light-webfont.woff") format("woff"), url("../fonts/ostrich-light-webfont.ttf") format("truetype"), url("../fonts/ostrich-light-webfont.svg#OstrichSansCondensedLight") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
/* Neue Haas Grotesk */
@font-face {
  font-family: "NeueHaasGroteskDisplayPro35ExtraLight";
  src: url("../fonts/neuehaasgrotesk-display-35-extra-light.eot");
  src: url("../fonts/neuehaasgrotesk-display-35-extra-light.eot?#iefix") format("embedded-opentype"), url("../fonts/neuehaasgrotesk-display-35-extra-light.woff") format("woff"), url("../fonts/neuehaasgrotesk-display-35-extra-light.ttf") format("truetype"), url("../fonts/neuehaasgrotesk-display-35-extra-light.svg#NeueHaasGroteskDisplayPro35ExtraLight") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "NeueHaasGroteskDisplayPro45Light";
  src: url("../fonts/neuehaasgrotesk-display-45-light.eot");
  src: url("../fonts/neuehaasgrotesk-display-45-light.eot?#iefix") format("embedded-opentype"), url("../fonts/neuehaasgrotesk-display-45-light.woff") format("woff"), url("../fonts/neuehaasgrotesk-display-45-light.ttf") format("truetype"), url("../fonts/neuehaasgrotesk-display-45-light.svg#NeueHaasGroteskDisplayPro45Light") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "NeueHaasGroteskTextPro55Roman";
  src: url("../fonts/neuehaasgrotesk-text-55-roman.eot");
  src: url("../fonts/neuehaasgrotesk-text-55-roman.eot?#iefix") format("embedded-opentype"), url("../fonts/neuehaasgrotesk-text-55-roman.woff") format("woff"), url("../fonts/neuehaasgrotesk-text-55-roman.ttf") format("truetype"), url("../fonts/neuehaasgrotesk-text-55-roman.svg#NeueHaasGroteskTextPro55Roman") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "NeueHaasGroteskTextPro56Italic";
  src: url("../fonts/neuehaasgrotesk-text-56-italic.eot");
  src: url("../fonts/neuehaasgrotesk-text-56-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/neuehaasgrotesk-text-56-italic.woff") format("woff"), url("../fonts/neuehaasgrotesk-text-56-italic.ttf") format("truetype"), url("../fonts/neuehaasgrotesk-text-56-italic.svg#NeueHaasGroteskTextPro56Italic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "NeueHaasGroteskTextPro65Medium";
  src: url("../fonts/neuehaasgrotesk-text-65-medium.eot");
  src: url("../fonts/neuehaasgrotesk-text-65-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/neuehaasgrotesk-text-65-medium.woff") format("woff"), url("../fonts/neuehaasgrotesk-text-65-medium.ttf") format("truetype"), url("../fonts/neuehaasgrotesk-text-65-medium.svg#NeueHaasGroteskTextPro65Medium") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "NeueHaasGroteskTextPro66MediumItalic";
  src: url("../fonts/neuehaasgrotesk-text-66-medium-italic.eot");
  src: url("../fonts/neuehaasgrotesk-text-66-medium-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/neuehaasgrotesk-text-66-medium-italic.woff") format("woff"), url("../fonts/neuehaasgrotesk-text-66-medium-italic.ttf") format("truetype"), url("../fonts/neuehaasgrotesk-text-66-medium-italic.svg#NeueHaasGroteskTextPro66MediumItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "NeueHaasGroteskTextPro75Bold";
  src: url("../fonts/neuehaasgrotesk-text-75-bold.eot");
  src: url("../fonts/neuehaasgrotesk-text-75-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/neuehaasgrotesk-text-75-bold.woff") format("woff"), url("../fonts/neuehaasgrotesk-text-75-bold.ttf") format("truetype"), url("../fonts/neuehaasgrotesk-text-75-bold.svg#NeueHaasGroteskTextPro75Bold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "NeueHaasGroteskTextPro76BoldItalic";
  src: url("../fonts/neuehaasgrotesk-text-76-bold-italic.eot");
  src: url("../fonts/neuehaasgrotesk-text-76-bold-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/neuehaasgrotesk-text-76-bold-italic.woff") format("woff"), url("../fonts/neuehaasgrotesk-text-76-bold-italic.ttf") format("truetype"), url("../fonts/neuehaasgrotesk-text-76-bold-italic.svg#NeueHaasGroteskTextPro76BoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
/*
   ZURB Foundation -
   Social Icon Set (Subsetted to Twitter[U+F004],
   GitHub[U+F006], LinkedIn[U+F008], and Behance[U+F00B])
*/
@font-face {
  font-family: "SocialFoundicons";
  src: url("../fonts/social_foundicons.eot");
  src: url("../fonts/social_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/social_foundicons.woff") format("woff"), url("../fonts/social_foundicons.ttf") format("truetype"), url("../fonts/social_foundicons.svg#SocialFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
/*
*
*  Eight-column grid active
*  ----------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
*  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
*
*
*/
/* @media screen and (min-width: 755px) */
@media screen and (min-width: 47.187em) {
  body {
    /* Reset baseline grid to 16/16 = 1 */
    font-size: 1; }

  article, footer {
    margin: 0 5.555555%;
    padding: 0; }

  footer {
    width: 89%;
    float: left;
    clear: both; }

  article > section {
    position: relative;
    margin-bottom: 2.263158em;
    float: left;
    clear: none;
    padding: 0; }

  article > section:first-child {
    margin-top: 0; }

  .experience, .skills, .about-me > h3, .about-me > p, .about-me > figure, .educational-background {
    width: 48%;
    clear: none;
    float: left; }

  .educational-background {
    width: 100%; }

  .about-me > h3, .about-me > p, .about-me > figure {
    clear: left; }

  .skills {
    float: right; }

  .skills > h3, .educational-background > h3 {
    text-align: right; }

  .skills > figure {
    float: right; }

  .skills > figure > img {
    padding: 3em 0; }

  .skills > ul > li {
    text-align: right;
    padding-right: 1.3rem; }

  .skills > ul > li:nth-child(even) {
    float: right;
    padding-right: 0rem; }

  .about-me > figure:first-of-type {
    width: 40%;
    margin: 0 0 2em 3%; }

  .about-me > p:nth-of-type(2) {
    padding-right: 0; }

  .about-me > p:last-of-type {
    float: right;
    clear: none; }

  .about-me > .timeline {
    float: right;
    clear: right;
    position: absolute;
    margin: 0;
    top: -9rem;
    right: 5.888%; }

  .educational-background > p:first-of-type {
    padding-left: 28%;
    text-align: right; }

  .educational-background > ul {
    width: 100%;
    float: left;
    clear: none; }

  .educational-background > ul > li {
    width: 50%;
    float: left;
    clear: left;
    text-align: right;
    padding: .75rem 2rem .75rem 0rem; }

  .educational-background > ul > li:nth-child(even) {
    float: right;
    clear: none;
    padding: .75rem 0rem .75rem 2rem; }

  footer ul li:nth-of-type(-n+2) {
    float: left;
    clear: none;
    width: 28%;
    margin: 1em 0; }

  footer ul li:first-of-type {
    width: 33%; }

  footer ul li:nth-of-type(n+3) {
    float: right;
    clear: none;
    width: 8%;
    height: 3.333em;
    padding: 0;
    margin: 0em;
    text-align: right; }

  footer ul li:nth-of-type(n+3) a {
    padding: 1em 0; }

  footer ul li [data-icon] {
    font-size: 2.5em; } }
/* @media screen and (min-width: 815px) */
@media screen and (min-width: 50.93em) {
  .about-me > .timeline {
    top: -8rem; } }
/* @media screen and (min-width: 845px) */
@media screen and (min-width: 52.81em) {
  .about-me > .timeline {
    top: -6rem; } }
/* @media screen and (min-width: 864px) */
@media screen and (min-width: 54em) {
  .about-me > .timeline {
    top: -5rem; }

  .skills > figure {
    max-width: 26rem; } }
/* @media screen and (min-width: 896px) */
@media screen and (min-width: 56em) {
  .about-me {
    margin-bottom: 3em; }

  .about-me > .timeline {
    top: 4.5rem;
    right: 7%; }

  .about-me > p:last-of-type {
    float: left;
    clear: left; }

  .skills > figure > img {
    padding: 6rem 1em 0rem 0rem; }

  .about-me > figure:first-of-type {
    width: 25%;
    margin: 0 0 2em 10%; }

  .educational-background > p:first-of-type {
    padding-left: 40%; } }
/* @media screen and (min-width: 912px) */
@media screen and (min-width: 57em) {
  .about-me > figure:first-of-type {
    width: 25%;
    margin: 0 0 2em 10%; } }
/* @media screen and (min-width: 1080px) */
@media screen and (min-width: 67.5em) {
  article > section:last-child {
    width: 75%;
    float: right; }

  footer ul li:first-of-type {
    width: 25%; } }
/* @media screen and (min-width: 1088px) */
@media screen and (min-width: 68em) {
  :root {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: 1.0625; }

  body {
    line-height: 1.2em; }

  h3 {
    font-size: 3.54375em;
    color: #666666; }

  article > section > ul > li > p, .about-me > p, .educational-background > p {
    letter-spacing: 0.01em; }

  .experience, .skills {
    width: 33%; }

  .about-me > h3, .educational-background > h3 {
    font-size: 2.5rem; }

  .about-me > h3, .about-me > p, .about-me > figure,
  .educational-background {
    width: 100%; }

  .skills > ul > li {
    margin-bottom: 1.8em;
    font-size: .9rem; }

  .skills > figure > img {
    padding: 1.1rem 1em 0rem 0rem; }

  .about-me {
    position: static;
    width: 50%;
    clear: left; }

  .about-me > figure:first-of-type {
    width: 35%;
    float: left;
    margin: 0 1.5rem 1rem 0; }

  .about-me > p, .about-me > p:last-of-type {
    float: none;
    clear: none; }

  .about-me > .timeline {
    top: 30rem;
    right: 0;
    left: 0;
    margin: 0 auto; }

  .timeline > ul > li:nth-child(2) {
    margin-bottom: 4.5rem;
    margin-left: .6rem; }

  .timeline > ul > li:nth-child(3) {
    margin-right: 1.27rem;
    margin-bottom: 2rem; }

  .timeline > ul > li:nth-child(5) {
    margin-top: -1rem;
    margin-bottom: 1rem; }

  .timeline > ul > li:nth-child(6) {
    margin-bottom: 2.8rem; }

  .timeline > ul > li:nth-child(7) {
    margin-bottom: 1.5rem; }

  .timeline > ul > li:nth-child(8) {
    margin-bottom: 4rem; }

  .timeline > ul > li:nth-child(9) {
    margin-right: 2.025rem; }

  .timeline > ul > li:nth-child(10) {
    margin-top: 0;
    margin-bottom: 4rem; }

  .timeline > ul > li:nth-child(11) {
    margin-left: 4.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 14rem;
    font-size: 1rem; }

  .timeline > ul > li:nth-child(11) > figcaption > img {
    position: absolute;
    right: 48.8%;
    top: 180%;
    max-height: 5rem; }

  .timeline > ul > li:first-child {
    margin: 0 auto 0rem 5.7rem;
    padding-right: 0.4rem;
    width: 6rem;
    max-width: 6rem;
    font-size: 1rem; }

  .timeline > ul > li:first-child > figcaption > img {
    position: absolute;
    bottom: 1.25rem;
    max-width: 100%; }

  .timeline > ul > li:first-child > figcaption:before {
    left: 0.4446rem; }

  article > section:last-child {
    width: 50%;
    clear: right;
    padding-left: 3rem; }

  .educational-background > p:first-of-type {
    padding-left: 0%; }

  .educational-background > ul > li {
    padding: 0.76rem 6% 0rem 0rem;
    line-height: 1.5em; }

  .educational-background > ul > li:nth-child(even) {
    padding: .76rem 0rem 0rem 0.5rem; } }
/* @media screen and (min-width: 1200px) */
@media screen and (min-width: 75em) {
  .skills > ul > li {
    margin-bottom: 1.8em;
    font-size: 1rem; }

  .skills > figure {
    max-width: 20rem; }

  .skills > figure > img {
    padding-top: 1.9rem; }

  .about-me > figure:first-of-type {
    width: 24%;
    margin-bottom: .5rem; } }
/* @media screen and (min-width: 1350px) */
@media screen and (min-width: 78em) {
  .about-me > .timeline {
    top: 33rem; }

  .about-me, .educational-background {
    width: 46%; } }
/*
*
*  Sixteen-column grid active
*  ----------------------------------------------------------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8     9     10    11    12    13    14    15    16  |   Margin
*  5.55555% | %  6.25  12.5  18.75 25.0  31.25 37.5  43.75 50.0  56.25 62.5  68.75 75.0  81.25 87.5  93.75 100 | 5.55555%
*
*
*/
/* @media screen and (min-width: 1440px) */
@media screen and (min-width: 90em) {
  header, article, footer {
    margin: 0 11.8%; }

  header {
    margin-top: 6%; }

  footer {
    width: 76.4%; }

  .about-me > .timeline {
    top: 36rem; } }
/* @media screen and (min-width: 1550px) */
@media screen and (min-width: 96.87em) {
  header, article, footer {
    margin: 0 17.25%; }

  header {
    margin-top: 8%; }

  footer {
    width: 65.4%; }

  .skills > figure {
    max-width: 19rem; }

  .about-me > .timeline {
    top: 36rem; } }
/* @media screen and (min-width: 1730px) */
@media screen and (min-width: 108em) {
  body {
    position: relative;
    margin: 0 auto;
    float: none; }

  .about-me > .timeline {
    top: 30rem; } }
/* @media screen and (min-width: 1950px) */
@media screen and (min-width: 121.8em) {
  body {
    max-width: 125; }

  .about-me {
    margin-top: 1em;
    width: 40%; }

  .about-me > .timeline {
    top: 32rem; }

  .educational-background {
    width: 45%; } }
/* @media screen and (min-width: 2080px) */

/*# sourceMappingURL=style.css.map */
